---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/multiservicios.png";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/logoaf.png";
import construction from "@images/casa.avif";
import tools from "@images/pergola.avif";
import dashboard from "@images/paneles01.avif";

const avatarSrcs: Array<string> = [
  "https://storage.googleapis.com/plastibeach/femalemodelpb.png",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="COTIZACION GRATIS!"
    url="https://github.com/mearashadowfax/ScrewFast"
  />

  <HeroSection
    title=`Todo para construccion
    <br/>
    <span
        class="text-yellow-500 dark:text-yellow-400">En un solo sitio</span>`
    subTitle="Somos una constructor que te ofrece todos los servicios para construir tu casa, con un solo proveedor"
    primaryBtn="Ver Servicios"
    primaryBtnURL="/services"
    secondaryBtn="Conocenos"
    secondaryBtnURL="/contact"
    withReview={false}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <ClientsSection
    title="Conocenos"
    subTitle="Somos distribuidores de diferentes marcas, por eso nuestros precios son competitivos!"
  />

  <FeaturesGeneral
    title="Arquitectura Fotovoltaica S.A. de C.V."
    subTitle="Empresa constructora 100% mexicana, fundada en el año 1988, dedicada a la Industria de la construcción y automatización residencial, buscando en nuestros proyectos el ahorro de energía y capital, cumpliendo con todos los estándares necesarios para la correcta construcción del proyecto, contando con diseños y proyectos arquitectónicos innovadores siempre a la vanguardia."
    src={featureImage}
    alt="ScrewFast products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`Beneficios de  <span class="text-yellow-500 dark:text-yellow-400">Trabajar con nosotros</span>`
    tabs={[
      {
        heading: "Equipo de trabajo",
        content:
          "Contamos con un equipo de profesionales y personal altamente experimentado en los campos de arquitectura, ingeniería, domótica, ecotecnologías, herrería, albañilería, electricidad, plomería, carpintería, aluminio y más.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Servicios Personalizados",
        content:
          "Nos dedicamos a resolver las necesidades principales de nuestros clientes, proporcionando asesoría técnica, diseño y una variedad de opciones adaptadas a sus requerimientos.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Todo en uno",
        content:
          "Como empresa multiservicios, ofrecemos todo lo que necesitas para construir y equipar tu casa, sin tener que buscar entre múltiples proveedores.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  
  <PricingSection pricing={pricing} />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="Construyamos juntos"
    subTitle="Contáctanos para recibir cotización y empezar a construir juntos."
    url="#"
  />
</MainLayout>
